<BsModalSimple @title="Adjust Resource" @closeTitle="Cancel" @submitTitle="Adjust Resource" @size={{null}}
  @fade={{true}} @open={{this.selectAdjustResource}} @onSubmit={{action "adjustResource" }} @onHide={{action (mut
  this.selectAdjustResource) false}}>

  {{#if this.canSelect}}
  <div class="d-flex mb-4 align-items-center gap-2">
    <div>
      <CharIconStatusBase @char={{this.selectedChar}} @iconClass="small-profile-icon" />
    </div>
    <div class="w-100 px-2">
      <b>Character</b>
      <PowerSelect @options={{this.selectableChars}} @placeholder="Select Character" @selected={{this.resChar}}
        @onChange={{action "selectChar" }} as |c|>
        {{c}}
      </PowerSelect>
    </div>
  </div>
  {{/if}}
  <div class="row">
    <div class="col">
      <b>Resource</b>
      <PowerSelect @options={{this.options}} placeholder="Select a Resource" @selected={{this.type}}
        @onChange={{action "selectResourceType" }} as |r|>
        {{r}}
      </PowerSelect>
    </div>
    <div class="col-7">
      <b>Amount</b><br>
      <Input @type="text" size={{45}} id="amount" placeholder="+[number] to regain, -[number] to spend"
        @value={{this.amount}} />
    </div>
  </div>
  <br>
</BsModalSimple>