<div role="tabpanel" class="tab-pane" id="cod">
  <CodChargen @name={{this.char.name}} @char={{this.char}} @cg_info={{this.char.custom.cg_info}}
    @cg_lists={{this.char.custom.cg_lists}} @template_info={{this.char.custom.cg_lists.template_info}}
    @updateCallback={{this.updateCallback}} @cg_sheet={{this.char.custom.cg_sheet}} />
</div>